/*
---Spel regels---
-kleuren=
#000000 zwart
#444444 donker grijs
#707070 grijs
#AAAAAA licht grijs
#F5F5F5 lichtere grijs
#FFFFFF wit
#2699FB blauw

-font=
Arial - 80pt, 63pt, 35pt, 30pt, 25pt, 15pt
Berlin Sans FB - 80pt

-breetes=
PC >1280px
Mobile <480px
Tablet 481px-1179px
*/

/* Fonts */
@font-face {
    font-family: "BerlinSansFB";
    src: url(../fonts/BerlinSansFB/BerlinSansFBRegular.ttf) format("truetype");
}

body{
	font-family: Arial;
	font-size: 15pt;
	margin: 0 0 0 0;
}

nav{
	padding-left: 20%;
	background-color: #F5F5F5;
	margin-top: 0;
	padding-top: 1em;
}

nav ul{
	font-size: 25pt;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li{
	display: inline;
}

nav a{
	text-decoration: none;
	color: #707070;
}

nav a:hover{
	color: #2699FB;
}

main {
	width: 60%;
	padding-left: 20%;
}

article h1{
	font-size: 25pt;
}

#mainheader{
	padding-left: 20%;
	background-color: #F5F5F5;
}

#mainheader h1{
	font-family: "BerlinSansFB";
	font-size: 80pt;
	color: #2699FB;
	margin-top: 0;
}

#mainheader h2{
	margin-bottom: 0;
}

#mainfooter{
	padding-left: 20%;
	background-color: #AAAAAA;
}