/*
---Spel regels---
-kleuren=
#000000 zwart
#444444 donker grijs
#707070 grijs
#AAAAAA licht grijs
#F5F5F5 lichtere grijs
#FFFFFF wit
#2699FB blauw

-font=
Arial - 80pt, 63pt, 35pt, 30pt, 25pt, 15pt
Berlin Sans FB - 80pt

-breetes=
PC >1280px
Mobile <480px
Tablet 481px-1179px
*/

/* Fonts */
@font-face {
    font-family: "BerlinSansFB";
    src: url(../fonts/BerlinSansFB/BerlinSansFBRegular.ttf) format("truetype");
}

body{
	font-family: Arial;
	margin: 0;
}

nav{
	margin-bottom: 0;
	text-align: center;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li{
	display: inline;
	margin-left: 1.1em;
	margin-right: 1.1em;
}

nav a{
	font-size: 1.3em;
	text-decoration: none;
	color: #707070;
}

nav a:hover{
	color: #2699FB;
	background-color: #FFFFFF;
}

main{
	width: 60%;
	padding-left: 20%;
}

article h2{
	margin-bottom: 0.5em;
}

aside h2{
	margin-bottom: 0.5em;
}

section a{
	color: #707070;
}

section a:hover{
	color: #2699FB;
}

img{
	width: 100%;
	margin: 1em 0 1em 0;
}

textarea{
	vertical-align: top;
	resize: none;
}

#mainheader{
	padding-left: 20%;
	padding-right: 20%;
	background-color: #F5F5F5;
}

#mainheader h1{
	font-family: "BerlinSansFB";
	font-size: 8em;
	color: #2699FB;
	margin-top: 0;
	margin-bottom: 0.1em;
}

#mainheader h2{
	font-size: 2em;
	text-align: right;
}

#mainfooter{
	padding-left: 20%;
	padding-top: 1em;
	margin-top: 1em;
	height: 2em;
	background-color: #AAAAAA;
}

.header2{
	font-size: 2.5em;
}

.header3{
	font-size: 2em;
	color: #2699FB;
}

.sideImg{
	float: right;
	height: 15em;
	width: auto;
	margin: 0 0 1em 1em;
}

.verplicht{
	color: red;
}